html, body {
    width: 100%;
    max-width: 100vw;
    height: 100%;
    margin: 0px;
    overflow: hidden;
    font-family: rooney-sans, sans-serif;
    font-weight: 200;
    font-size: 22px;
    letter-spacing: 1.5px;
    color: #e6e6e6;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #1E1A1A;
}

body>div {
    width: inherit;
    height: inherit;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

#background {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: auto;
    border-radius: 24px;
    margin-top: 10vh;
    width: 85vh;
    height: 80vh;
    background-color: #2b2727;
}

.phrase {
    display: inline;
}

h3 {
    position: absolute;
    width: 100%;
    font-weight: 200;
    margin-top: 48px;
    margin-bottom: 0px;
    color: #25C8FF;
    text-align: center;
}

.hide {
    display: none;
}

.header {
    display: none;
    position: absolute;
    height: 80px;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    border-bottom: solid 1px #FFFFFF;
    z-index: 1;
    color: #FFFFFF;
}

.header div {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    background-color: #333333;
}

.header .left {
    width: 250px;
    text-align: center;
}

.header .middle {
    width: auto;
    text-align: center;
}

.header .right {
    width: 250px;
    height: inherit;
    min-height: 100%;
}

.header .right .video-sample-container {
    display: table;
    margin: auto;
    box-sizing: border-box;
}

.header video {
    height: 60px;
    border: solid 1px #e6e6e6;
}

.header img {
    height: 60px;
}

.navwrapper {
    position: absolute;
    margin-left: 50%;
    transform: translate(-50%, 0%);
    margin-right: auto;
    width: 100%;
    max-width: 166vh;
    height: 100%;
    z-index: 4;
}

.online-list {
    position: relative;
    margin-left: auto;
    margin-right: 7.5vh;
    margin-top: 10vh;
    width: 28.5vh;
    height: 50vh;
    background-color: #2b2727;
    border-radius: 24px;
}

.online-list h3 {
    margin-top: 24px;
    font-size: 22px;
}

.online-list div {
    width: 100%;
    height: 80px;
    margin-left: auto;
    transform: translateY(100%);
    text-align: left;
    background-color: transparent;
    box-sizing: border-box;
    cursor: pointer;
}

.online-list img {
    width: 40px;
    height: 40px;
    float: right;
    margin-right: 40px;
    margin-top: 20px;
    cursor: pointer;
    background-color: transparent;
}

.online-list span {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    word-break: break-all;
    font-size: 20px;
    padding-left: 40px;
}

.chat {
    display: none;
    float: left;
    max-height: 100%;
    min-height: 100%;
    width: 100%;
    overflow-y: scroll;
    left: 250px;
    padding-left: 250px;
    padding-top: 80px;
    box-sizing: border-box;
    background-color: #363D48;
}

.log {
    height: 100%;
    width: 100%;
    margin-bottom: 50px;
}

.log div {
    padding: 8px;
}

.log b {
    color: #FFFFFF;
}

.input-container textarea {
    width: 100%;
    height: 100%;
    padding: 0px 5px;
    margin: 0px;
    box-sizing: border-box;
    line-height: 24pt;
    resize: none;
    outline: none;
    font-size: 14px;
    border: solid 1px #e6e6e6;
    background-color: #6D7582;
    border-radius: 3px;
    color: #FFFFFF;
    font-family: inherit;
}

.input-container textarea::placeholder {
    color: #FFFFFF;
    font-family: sans-serif;
}

div.input-container {
    position: fixed;
    bottom: 0px;
    height: 50px;
    width: 100%;
    background-color: #1E2531;
    box-sizing: border-box;
    padding-right: 250px;
}

.input-container div {
    display: inline-block;
    padding: 0px;
}

.input-container .textarea-container {
    width: 100%;
    height: 100%;
    padding: 8px 50px 8px 8px;
    box-sizing: border-box;
}

.input-container .submit {
    display: table;
    top: 0px;
    right: 250px;
    position: absolute;
    height: 100%;
    width: 50px;
    padding: 8px;
    box-sizing: border-box;
    fill: #FFFFFF;
    user-select: none;
    cursor: pointer;
}

.input-container .submit div {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

.input-container .submit div svg {
    vertical-align: middle;
}

.video-modal {
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

#closewrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 7;
}

.close-video {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-bottom: calc(10vh + 24px)
}

#exit {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-image: url(https://paulcrose.github.io/OpenChat_PWA/images/hangup.svg);
    background-repeat: no-repeat;
    background-color: transparent;
}

.video-modal img {
    position: absolute;
    width: 15%;
    bottom: 0px;
    right: 0px;
}

.localwrapper {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    max-width: 132vh;
    height: 100%;
    z-index: 3;
}

.video-modal video.me {
    position: absolute;
    margin-top: 10vh;
    width: 19vh;
    height: 19vh;
    object-fit: cover;
    border-radius: 24px;
}

.remotewrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    pointer-events: none;
}

.video-modal video.remote {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: auto;
    object-fit: cover;
    border-radius: 24px;
    margin-top: 10vh;
    width: 85vh;
    height: 80vh;
}

.modal-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 8;
}

.modal-spacer {
    position: absolute;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    height: 100%;
    max-height: 100%;
}

.user-input-modal p {
    margin-left: 0;
    margin-right: 0;
    margin-top: 132px;
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 200;
}

.user-input-modal p:nth-of-type(2) {
    margin-left: 0;
    margin-right: 0;
    margin-top: 172px;
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 200;
}

.user-input-modal {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 456px;
    height: 448px;
    overflow: hidden;
    margin: auto;
    padding: 0px;
    box-sizing: border-box;
    background-color: #2b2727;
    border-radius: 24px;
    color: #D5D4D4;
    text-align: center;
    z-index: 9;
}

#join-button {
    position: absolute;
    height: 40px;
    width: 112px;
    top: 66%;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    background-repeat: no-repeat;
    outline: none;
    border: none;
    user-select: none;
    cursor: pointer;
    background-image: url(https://paulcrose.github.io/OpenChat_PWA/images/join.svg);
}

#yes-call, #yes-exit {
    position: absolute;
    width: 56px;
    height: 40px;
    top: 50%;
    left: calc(50% - 56px);
    transform: translateX(-50%);
    background-color: transparent;
    background-repeat: no-repeat;
    outline: none;
    border: none;
    user-select: none;
    cursor: pointer;
    background-image: url(https://paulcrose.github.io/OpenChat_PWA/images/yes.svg);
}

#no-call, #no-exit {
    position: absolute;
    width: 56px;
    height: 40px;
    top: 50%;
    left: calc(50% + 56px);
    transform: translateX(-50%);
    background-color: transparent;
    background-repeat: no-repeat;
    outline: none;
    border: none;
    user-select: none;
    cursor: pointer;
    background-image: url(https://paulcrose.github.io/OpenChat_PWA/images/no.svg);
}

#accept-call {
    position: absolute;
    width: 84px;
    height: 40px;
    top: 50%;
    left: calc(50% - 64px);
    transform: translateX(-50%);
    background-color: transparent;
    background-repeat: no-repeat;
    outline: none;
    border: none;
    user-select: none;
    cursor: pointer;
    background-image: url(https://paulcrose.github.io/OpenChat_PWA/images/accept.svg);
}

#reject-call {
    position: absolute;
    width: 84px;
    height: 40px;
    top: 50%;
    left: calc(50% + 64px);
    transform: translateX(-50%);
    background-color: transparent;
    background-repeat: no-repeat;
    outline: none;
    border: none;
    user-select: none;
    cursor: pointer;
    background-image: url(https://paulcrose.github.io/OpenChat_PWA/images/reject.svg);
}

.user-input-modal .modal-button.disabled {
    opacity: 0.2;
}

.user-input-modal .modal-text-input {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0px 5px;
    line-height: 40px;
    outline: none;
    font-size: 18px;
    letter-spacing: 1px;
    border-style: hidden;
    background-color: #D5D4D4;
    border-radius: 16px;
    color: #2B2727;
    font-family: inherit;
    text-align: center;
}

.chat-interface {
    overflow: hidden;
}

@media only screen and (max-width: 700px) {
    h1 {
        font-size: 20px
    }
    h3 {
        position: absolute;
        width: 100%;
        font-size: 22px;
        font-weight: 200;
        margin-top: 12%;
        margin-bottom: 0px;
        color: #25C8FF;
        text-align: center;
    }
    html, body {
        font-size: 16px;
        background-color: #1E1A1A;
    }
    #background {
        display: none;
    }
    .localwrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        max-height: 100%;
        z-index: 4;
    }
    .video-modal video.me {
        position: absolute;
        margin-top: 4vw;
        margin-left: 6vw;
        margin-right: auto;
        width: 24vw;
        height: 24vw;
        object-fit: cover;
        border-radius: 16px;
    }
    .remotewrapper {
        position: absolute;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
        width: 100%;
        height: 100%;
        max-height: 154vw;
        z-index: 3;
    }
    .video-modal video.remote {
        position: absolute;
        bottom: 0%;
        margin-bottom: 26vw;
        width: 100%;
        height: 96vw;
        min-height: 96vw;
        object-fit: cover;
        border-radius: 24px;
    }
    .navwrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        max-height: 154vw;
        z-index: 2;
    }
    .online-list {
        position: absolute;
        bottom: 0%;
        margin-bottom: 26vw;
        width: 100%;
        height: 96vw;
        min-height: 96vw;
        border-radius: 24px;
        background-color: #2b2727;
    }
    .online-list h3 {
        margin-top: 48px;
    }
    .online-list div {
        position: relative;
        width: 100%;
        height: 80px;
        margin-left: auto;
        transform: translateY(26vw);
        text-align: left;
        line-height: 80px;
        background-color: transparent;
        cursor: pointer;
    }
    .online-list span {
        width: 50%;
        text-align: right;
        padding-left: 0%;
    }
    .online-list img {
        width: 48px;
        height: 48px;
        float: right;
        margin-right: calc(50% - 24px);
        margin-left: 24px;
        margin-top: 20px;
        background-color: transparent;
    }
    #closewrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        max-height: 154vw;
        z-index: 7;
    }
    .close-video {
        position: absolute;
        width: 48px;
        height: 48px;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0%);
        margin-bottom: 24px;
        margin-top: 0px;
    }
    #exit {
        width: 48px;
        height: 48px;
        cursor: pointer;
        background-image: url(https://paulcrose.github.io/OpenChat_PWA/images/hangup.svg);
        background-repeat: no-repeat;
        background-color: transparent;
    }
    .modal-spacer {
        position: absolute;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
        width: 100%;
        height: 100%;
        max-height: 154vw;
    }
    .user-input-modal {
        position: absolute;
        bottom: 0%;
        transform: translateY(-0%);
        margin-bottom: 26vw;
        width: 100%;
        height: 96vw;
        min-height: 96vw;
        overflow: hidden;
        padding: 0px;
        box-sizing: border-box;
        background-color: #2b2727;
        border-radius: 24px;
        color: #D5D4D4;
        text-align: center;
    }
    .user-input-modal p {
        margin-left: 0;
        margin-right: 0;
        margin-top: calc(50vw - 80px);
        margin-bottom: 0;
        font-size: 22px;
        font-weight: 200;
    }
    .user-input-modal p:nth-of-type(2) {
        margin-left: 0;
        margin-right: 0;
        margin-top: calc(50vw - 64px);
        margin-bottom: 0;
        font-size: 22px;
        font-weight: 200;
    }
    #join-button {
        position: absolute;
        height: 40px;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 64px;
        background-repeat: no-repeat;
        outline: none;
        border: none;
        user-select: none;
        cursor: pointer;
        background-image: url(https://paulcrose.github.io/OpenChat_PWA/images/join.svg);
        background-repeat: no-repeat;
        background-color: transparent;
    }
    #yes-call, #yes-exit {
        position: absolute;
        width: 56px;
        height: 40px;
        top: 50%;
        left: calc(50% - 56px);
        transform: translateX(-50%);
        background-repeat: no-repeat;
        outline: none;
        border: none;
        user-select: none;
        cursor: pointer;
        background-image: url(https://paulcrose.github.io/OpenChat_PWA/images/yes.svg);
    }
    #no-call, #no-exit {
        position: absolute;
        width: 56px;
        height: 40px;
        top: 50%;
        left: calc(50% + 56px);
        transform: translateX(-50%);
        background-repeat: no-repeat;
        outline: none;
        border: none;
        user-select: none;
        cursor: pointer;
        background-image: url(https://paulcrose.github.io/OpenChat_PWA/images/no.svg);
    }
    #accept-call {
        position: absolute;
        width: 80px;
        height: 40px;
        top: 50%;
        left: calc(50% - 64px);
        transform: translateX(-50%);
        background-repeat: no-repeat;
        outline: none;
        border: none;
        user-select: none;
        cursor: pointer;
        background-image: url(https://paulcrose.github.io/OpenChat_PWA/images/accept.svg);
    }
    #reject-call {
        position: absolute;
        width: 80px;
        height: 40px;
        top: 50%;
        left: calc(50% + 64px);
        transform: translateX(-50%);
        background-repeat: no-repeat;
        outline: none;
        border: none;
        user-select: none;
        cursor: pointer;
        background-image: url(https://paulcrose.github.io/OpenChat_PWA/images/reject.svg);
    }
}